In [66]:
import json
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

sns.set_style("dark")

# NEW

In [14]:
with open("dynamic_eval_2D_results_2.json") as json_data:
    data = json.load(json_data)
    json_data.close()

In [31]:
with open("5-seconds-results.json") as json_data:
    other_algos = json.load(json_data)
    json_data.close()

In [15]:
data = data[1:]

In [47]:
all_data = other_algos + data
all_data = all_data[1:]

In [64]:
all_data[0].keys()

dict_keys(['Algorithm', 'Map Names', 'Success Rate', 'Path Length', 'Initial Calculation Time', 'Traversal Time', 'CPU Usage', 'Memory Used', 'Replan Time'])

In [62]:
rrt_edge_and_srrt = [all_data[0],all_data[2],all_data[3],all_data[4],all_data[5]]

[943.1676296962254,
 None,
 None,
 None,
 1064.4674227751573,
 1328.2091880438797,
 None,
 None,
 1579.382484699158,
 1758.8174847197495,
 1356.7554894891107,
 None,
 None,
 762.712156944452,
 None,
 None,
 None,
 None,
 None,
 1065.2906232477435,
 234.09431428987517,
 None,
 610.9968332561109,
 192.76006682510157,
 1354.397723152516,
 None,
 395.9356154411197,
 None,
 1335.250321007171,
 None,
 None,
 None,
 170.0211940823126,
 None,
 None,
 653.3281926520614,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 733.4004875522239,
 None,
 None,
 None,
 None]

In [67]:
df = pd.DataFrame(rrt_edge_and_srrt)

In [68]:
df

,Algorithm,Map Names,Success Rate,Path Length,Initial Calculation Time,Traversal Time,CPU Usage,Memory Used,Replan Time,Energy To Traverse
0,RRT-Edge,"[house_18, house_14, house_10, block_21, block...",0.34,"[943.1676296962254, None, None, None, 1064.467...","[5.004229545593262, 5.00950813293457, 5.033293...","[2.8081018924713135, 2.8081018924713135, 2.808...","[[25.6, 24.4, 27.5, 26.8, 25.6, 26.2, 24.4, 26...","[178478, 152454, 107532, 259036, 268592, 22578...","[[], [5.017424583435059], [], [5.0104110240936...",NaN
1,MB-SRRT-Edge-5,"[house_18, house_14, house_10, block_21, block...",0.74,"[366.80555549153485, 1404.754032705958, None, ...","[5.011330604553223, 5.004786729812622, 5.05187...","[1.294128656387329, 48.487887144088745, 0.0003...","[[28.2, 29.4, 30.2, 29.3, 28.2, 27.3, 30.6, 26...","[115222, 142293, 99678, 156045, 166272, 134086...","[[], [], [], [], [], [], [], [], [], [], [], [...","[225284.49346521162, nan, None, 632569.9176631..."
2,MB-SRRT-Edge-10,"[house_18, house_14, house_10, block_21, block...",0.78,"[400.1766967732859, 1145.6243524285046, None, ...","[10.00162935256958, 10.003243207931519, 10.046...","[0.8200154304504395, 14.599548578262329, 0.000...","[[3.7, 0.7, 48.6, 26.8, 25.6, 26.2, 26.2, 25.0...","[154956, 122713, 135553, 232431, 247960, 19485...","[[], [], [], [], [], [], [], [], [], [], [], [...","[246261.04544481207, nan, None, 620915.4024838..."
3,MB-SRRT-Edge-20,"[house_18, house_14, house_10, block_21, block...",0.88,"[338.3433436919052, 1042.4640968113351, 1207.9...","[20.083819150924683, 20.034235954284668, 20.02...","[0.6051690578460693, 18.762966632843018, 17.73...","[[22.0, 25.4, 21.3, 25.0, 22.0, 23.3, 22.4, 25...","[233327, 175373, 130038, 324711, 381198, 28754...","[[], [], [], [], [], [], [], [], [], [], [], [...","[201780.3888290738, nan, nan, 597777.220249560..."
4,MB-SRRT-Edge-30,"[house_18, house_14, house_10, block_21, block...",0.92,"[333.4801989731186, 930.9459012364773, 1437.26...","[30.12358283996582, 30.050612211227417, 30.006...","[0.6122300624847412, 1.9710822105407715, 3.514...","[[24.4, 26.2, 26.8, 29.5, 24.4, 26.8, 23.8, 24...","[304343, 230039, 194208, 457447, 390816, 41083...","[[], [], [], [], [], [], [], [], [], [], [], [...","[204682.0728827429, 560564.6462397503, nan, na..."

In [72]:
METRIC = "Path Length"

rrt_edge = all_data[0][METRIC]
srrt_edge_5 = all_data[2][METRIC]
srrt_edge_10 = all_data[3][METRIC]
srrt_edge_20 = all_data[4][METRIC]
srrt_edge_30 = all_data[5][METRIC]

In [73]:
combined_df = pd.DataFrame({
    "edge": rrt_edge,
    "srrt_5": srrt_edge_5,
    "srrt_10": srrt_edge_10,
    "srrt_20": srrt_edge_20,
    "srrt_30": srrt_edge_30
})

In [74]:
filtered_df = combined_df.dropna()
filtered_df

           edge       srrt_5      srrt_10      srrt_20      srrt_30
0    943.167630   366.805555   400.176697   338.343344   333.480199
4   1064.467423   954.184992   928.801556  1009.228893  1054.467003
5   1328.209188   968.180741   943.148879   875.476198   864.230261
8   1579.382485  1196.925148  1260.489165  1237.681893  1129.556029
9   1758.817485   995.033043  1005.078552  1893.144641  1723.450602
10  1356.755489  1275.910813  1271.182222  1271.701549  1320.504245
13   762.712157   692.200678   720.640081   717.129344   688.799280
19  1065.290623   865.158281   866.916984   870.302991   891.746848
20   234.094314   224.902201   224.902201   224.902201   224.902201
22   610.996833   389.966665   389.966665   389.966665   389.966665
23   192.760067   165.529454   165.529454   165.529454   165.529454
24  1354.397723  1288.252088  1335.924489  1345.482696  1224.009760
26   395.935615   370.684252   370.703459   369.786876   370.780108
28  1335.250321  1336.121168  1359.057308  1469.309398  1384.802575
32   170.021194   170.176512   170.071544   170.063779   170.163408
35   653.328193   666.596797   636.550373   657.967683   651.875241
45   733.400488   655.410887   659.837300   659.391429   660.540104

In [75]:
print(f"Edge: Mean: {filtered_df['edge'].mean()} Median: {filtered_df['edge'].median()}")
print(f"SRRT-5: Mean: {filtered_df['srrt_5'].mean()} Median: {filtered_df['srrt_5'].median()}")

SyntaxError: f-string: unmatched '[' (<ipython-input-75-46929b6fdec5>, line 1)