In [200]:
import json
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

sns.set_style("dark")

# NEW

In [201]:
with open("dynamic_eval_2D_results_2.json") as json_data:
    data = json.load(json_data)
    json_data.close()

In [202]:
with open("5-seconds-results.json") as json_data:
    other_algos = json.load(json_data)
    json_data.close()

In [203]:
data = data[1:]

In [204]:
all_data = other_algos + data
all_data = all_data[1:]

In [205]:
all_data[0].keys()

dict_keys(['Algorithm', 'Map Names', 'Success Rate', 'Path Length', 'Initial Calculation Time', 'Traversal Time', 'CPU Usage', 'Memory Used', 'Replan Time'])

In [206]:
rrt_edge_and_srrt = [all_data[0],all_data[2],all_data[3],all_data[4],all_data[5]]

In [207]:
df = pd.DataFrame(rrt_edge_and_srrt)

In [208]:
df

,Algorithm,Map Names,Success Rate,Path Length,Initial Calculation Time,Traversal Time,CPU Usage,Memory Used,Replan Time,Energy To Traverse
0,RRT-Edge,"[house_18, house_14, house_10, block_21, block...",0.34,"[943.1676296962254, None, None, None, 1064.467...","[5.004229545593262, 5.00950813293457, 5.033293...","[2.8081018924713135, 2.8081018924713135, 2.808...","[[25.6, 24.4, 27.5, 26.8, 25.6, 26.2, 24.4, 26...","[178478, 152454, 107532, 259036, 268592, 22578...","[[], [5.017424583435059], [], [5.0104110240936...",NaN
1,MB-SRRT-Edge-5,"[house_18, house_14, house_10, block_21, block...",0.74,"[366.80555549153485, 1404.754032705958, None, ...","[5.011330604553223, 5.004786729812622, 5.05187...","[1.294128656387329, 48.487887144088745, 0.0003...","[[28.2, 29.4, 30.2, 29.3, 28.2, 27.3, 30.6, 26...","[115222, 142293, 99678, 156045, 166272, 134086...","[[], [], [], [], [], [], [], [], [], [], [], [...","[225284.49346521162, nan, None, 632569.9176631..."
2,MB-SRRT-Edge-10,"[house_18, house_14, house_10, block_21, block...",0.78,"[400.1766967732859, 1145.6243524285046, None, ...","[10.00162935256958, 10.003243207931519, 10.046...","[0.8200154304504395, 14.599548578262329, 0.000...","[[3.7, 0.7, 48.6, 26.8, 25.6, 26.2, 26.2, 25.0...","[154956, 122713, 135553, 232431, 247960, 19485...","[[], [], [], [], [], [], [], [], [], [], [], [...","[246261.04544481207, nan, None, 620915.4024838..."
3,MB-SRRT-Edge-20,"[house_18, house_14, house_10, block_21, block...",0.88,"[338.3433436919052, 1042.4640968113351, 1207.9...","[20.083819150924683, 20.034235954284668, 20.02...","[0.6051690578460693, 18.762966632843018, 17.73...","[[22.0, 25.4, 21.3, 25.0, 22.0, 23.3, 22.4, 25...","[233327, 175373, 130038, 324711, 381198, 28754...","[[], [], [], [], [], [], [], [], [], [], [], [...","[201780.3888290738, nan, nan, 597777.220249560..."
4,MB-SRRT-Edge-30,"[house_18, house_14, house_10, block_21, block...",0.92,"[333.4801989731186, 930.9459012364773, 1437.26...","[30.12358283996582, 30.050612211227417, 30.006...","[0.6122300624847412, 1.9710822105407715, 3.514...","[[24.4, 26.2, 26.8, 29.5, 24.4, 26.8, 23.8, 24...","[304343, 230039, 194208, 457447, 390816, 41083...","[[], [], [], [], [], [], [], [], [], [], [], [...","[204682.0728827429, 560564.6462397503, nan, na..."

In [220]:
METRIC = "Path Length"

rrt_edge = all_data[0][METRIC]
srrt_edge_5 = all_data[2][METRIC]
srrt_edge_10 = all_data[3][METRIC]
srrt_edge_20 = all_data[4][METRIC]
srrt_edge_30 = all_data[5][METRIC]

METRIC2 = "Traversal Time"
rrt_edge_s = all_data[0][METRIC2]
srrt_edge_5_s = all_data[2][METRIC2]
srrt_edge_10_s = all_data[3][METRIC2]
srrt_edge_20_s = all_data[4][METRIC2]
srrt_edge_30_s = all_data[5][METRIC2]

map_names = all_data[0]["Map Names"]

In [221]:
combined_df = pd.DataFrame({
    "map_names": map_names,
    #"edge": rrt_edge,
    "srrt_5": srrt_edge_5,
    "srrt_10": srrt_edge_10,
    "srrt_20": srrt_edge_20,
    "srrt_30": srrt_edge_30,
    "srrt_5s": srrt_edge_5_s,
    "srrt_10s": srrt_edge_10_s,
    "srrt_20s": srrt_edge_20_s,
    "srrt_30s": srrt_edge_30_s,
})

In [222]:
original_index = combined_df.index

filtered_df = combined_df.dropna()

dropped_index = original_index.difference(filtered_df.index)

filtered_df

,map_names,srrt_5,srrt_10,srrt_20,srrt_30,srrt_5s,srrt_10s,srrt_20s,srrt_30s
0,house_18,366.805555,400.176697,338.343344,333.480199,1.294129,0.820015,0.605169,0.612230
1,house_14,1404.754033,1145.624352,1042.464097,930.945901,48.487887,14.599549,18.762967,1.971082
3,block_21,1079.357520,1048.081247,1023.171338,1811.766043,1.146978,0.887901,0.997516,61.193271
4,block_8,954.184992,928.801556,1009.228893,1054.467003,1.364395,1.066377,1.556351,1.676263
5,block_22,968.180741,943.148879,875.476198,864.230261,13.181706,18.261072,6.951764,62.164705
6,block_23,1588.578723,1768.290533,1711.366520,1377.357368,11.990842,175.751182,20.313001,1.728308
8,block_9,1196.925148,1260.489165,1237.681893,1129.556029,2.863162,132.304627,16.474183,1.803174
9,block_18,995.033043,1005.078552,1893.144641,1723.450602,19.501644,44.245422,1.659796,202.886331
10,block_5,1275.910813,1271.182222,1271.701549,1320.504245,17.358376,37.687642,44.731491,4.101056
11,block_1,1385.434770,1290.769845,1164.083203,1133.678364,7.821113,56.202866,31.521403,64.496806
13,block_4,692.200678,720.640081,717.129344,688.799280,1.963723,1.257917,2.150903,1.487216
14,block_0,2003.074642,1332.098622,1294.390586,1349.986116,65.053915,1.648404,1.667570,2.635009
15,block_6,513.625264,513.071554,528.384162,558.952187,61.361826,5.311479,149.789692,1.598190
16,block_11,192.439601,192.439601,192.439601,192.439601,38.405018,46.208158,72.829644,112.266868
17,house_20,838.990230,834.383322,822.281044,821.271503,47.417429,72.823020,159.183557,180.383284
18,block_20,728.517410,727.218909,781.242269,697.914951,5.281258,1.906372,63.774967,1.214985
19,block_19,865.158281,866.916984,870.302991,891.746848,2.068663,2.033357,2.812495,1.578883
20,house_1,224.902201,224.902201,224.902201,224.902201,1.256433,0.895833,0.939488,0.904502
22,block_14,389.966665,389.966665,389.966665,389.966665,1.008776,0.835880,1.255794,0.845440
23,block_17,165.529454,165.529454,165.529454,165.529454,0.364524,0.350608,0.343997,0.344421
24,block_24,1288.252088,1335.924489,1345.482696,1224.009760,0.890079,1.128063,50.274032,1.005082
26,block_12,370.684252,370.703459,369.786876,370.780108,0.923629,1.459597,0.908396,0.847982
28,block_13,1336.121168,1359.057308,1469.309398,1384.802575,3.076256,2.560768,157.026212,2.516010
29,house_9,224.140655,235.611012,236.659848,227.228957,1.061621,1.139292,0.724613,0.751418
30,block_3,703.241772,752.708893,699.566285,709.465013,1.612324,2.580785,1.785998,1.626561
31,house_0,606.495309,584.414591,544.975824,558.667445,2.641572,1.795625,1.285073,2.184284
32,house_5,170.176512,170.071544,170.063779,170.163408,1.172952,0.750750,0.748465,0.724394
33,house_22,1619.530380,1164.499536,1247.263529,996.903059,3.554893,98.007184,254.703807,79.553218
34,block_15,1232.038580,1151.411143,1109.333253,1128.822086,14.439431,7.440986,29.386352,8.473397
35,house_4,666.596797,636.550373,657.967683,651.875241,24.521931,2.066162,105.948919,113.188331
41,house_11,415.752461,420.460523,407.879598,405.176364,2.698701,1.586416,1.947526,1.509980
42,block_10,590.782880,535.620620,529.244180,551.460743,1.623869,0.818452,0.833078,0.904224
44,block_2,869.405006,860.088332,873.258838,862.730541,1.073931,1.007324,1.299968,1.146317
45,block_7,655.410887,659.837300,659.391429,660.540104,1.894472,1.186679,1.819787,1.253899
47,block_16,1414.392702,1256.667063,1184.965075,1179.818276,30.539154,29.797595,1.727440,86.995856
48,house_24,248.139355,225.532296,246.781239,220.102261,9.813867,34.120587,84.353549,86.683383

In [223]:
dropped_rows = combined_df.loc[dropped_index]
dropped_rows

,map_names,srrt_5,srrt_10,srrt_20,srrt_30,srrt_5s,srrt_10s,srrt_20s,srrt_30s
2,house_10,NaN,NaN,1207.936699,1437.261312,0.000348,0.000249,17.733764,3.514064
7,house_13,NaN,NaN,NaN,862.861217,0.000252,0.000203,0.000218,1.912835
12,house_15,NaN,NaN,797.657591,741.991973,0.000208,0.000216,64.436376,84.193181
21,house_8,NaN,1273.572677,1325.685739,1292.404099,0.000206,33.072080,10.191668,156.390513
25,house_19,NaN,NaN,646.370948,945.540474,0.000213,0.000206,27.724039,4.817926
27,house_23,NaN,NaN,NaN,NaN,0.000445,0.000332,0.000210,0.000202
36,house_7,NaN,NaN,NaN,NaN,0.000198,0.000221,0.000219,0.000204
37,house_3,NaN,NaN,NaN,NaN,0.000311,0.000203,0.000210,0.000366
38,house_6,NaN,NaN,NaN,1534.640612,0.000222,0.000202,0.000196,66.858880
39,house_16,430.77776,NaN,474.249997,440.096265,11.391288,0.000203,65.921345,110.578833
40,house_2,NaN,NaN,1616.364333,NaN,0.000218,0.000201,5.233222,0.000215
43,house_21,NaN,NaN,1212.014237,1389.022490,0.000244,0.000201,1.787828,1.676975
46,house_12,NaN,977.358857,1192.747680,910.836673,0.000396,1.435868,9.364929,48.880323
49,house_17,NaN,1116.440884,NaN,1154.547171,0.000223,6.501057,0.000236,270.275088

In [213]:
def calc_stats(lst):
    avg = sum(lst) / len(lst)
    length = len(lst)
    return avg, length

# filtered_df['srrt_avg'], filtered_df['srrt_len'] = zip(*filtered_df['srrt_5'].apply(calc_stats))
# filtered_df['edge_avg'], filtered_df['edge_len'] = zip(*filtered_df['edge'].apply(calc_stats))

In [214]:
# print(filtered_df["srrt_avg"].mean())
# print(filtered_df["edge_avg"].mean())

In [215]:
filtered_df

   map_names     srrt_5     srrt_10     srrt_20     srrt_30
0   house_18   1.294129    0.820015    0.605169    0.612230
1   house_14  48.487887   14.599549   18.762967    1.971082
2   house_10   0.000348    0.000249   17.733764    3.514064
3   block_21   1.146978    0.887901    0.997516   61.193271
4    block_8   1.364395    1.066377    1.556351    1.676263
5   block_22  13.181706   18.261072    6.951764   62.164705
6   block_23  11.990842  175.751182   20.313001    1.728308
7   house_13   0.000252    0.000203    0.000218    1.912835
8    block_9   2.863162  132.304627   16.474183    1.803174
9   block_18  19.501644   44.245422    1.659796  202.886331
10   block_5  17.358376   37.687642   44.731491    4.101056
11   block_1   7.821113   56.202866   31.521403   64.496806
12  house_15   0.000208    0.000216   64.436376   84.193181
13   block_4   1.963723    1.257917    2.150903    1.487216
14   block_0  65.053915    1.648404    1.667570    2.635009
15   block_6  61.361826    5.311479  149.789692    1.598190
16  block_11  38.405018   46.208158   72.829644  112.266868
17  house_20  47.417429   72.823020  159.183557  180.383284
18  block_20   5.281258    1.906372   63.774967    1.214985
19  block_19   2.068663    2.033357    2.812495    1.578883
20   house_1   1.256433    0.895833    0.939488    0.904502
21   house_8   0.000206   33.072080   10.191668  156.390513
22  block_14   1.008776    0.835880    1.255794    0.845440
23  block_17   0.364524    0.350608    0.343997    0.344421
24  block_24   0.890079    1.128063   50.274032    1.005082
25  house_19   0.000213    0.000206   27.724039    4.817926
26  block_12   0.923629    1.459597    0.908396    0.847982
27  house_23   0.000445    0.000332    0.000210    0.000202
28  block_13   3.076256    2.560768  157.026212    2.516010
29   house_9   1.061621    1.139292    0.724613    0.751418
30   block_3   1.612324    2.580785    1.785998    1.626561
31   house_0   2.641572    1.795625    1.285073    2.184284
32   house_5   1.172952    0.750750    0.748465    0.724394
33  house_22   3.554893   98.007184  254.703807   79.553218
34  block_15  14.439431    7.440986   29.386352    8.473397
35   house_4  24.521931    2.066162  105.948919  113.188331
36   house_7   0.000198    0.000221    0.000219    0.000204
37   house_3   0.000311    0.000203    0.000210    0.000366
38   house_6   0.000222    0.000202    0.000196   66.858880
39  house_16  11.391288    0.000203   65.921345  110.578833
40   house_2   0.000218    0.000201    5.233222    0.000215
41  house_11   2.698701    1.586416    1.947526    1.509980
42  block_10   1.623869    0.818452    0.833078    0.904224
43  house_21   0.000244    0.000201    1.787828    1.676975
44   block_2   1.073931    1.007324    1.299968    1.146317
45   block_7   1.894472    1.186679    1.819787    1.253899
46  house_12   0.000396    1.435868    9.364929   48.880323
47  block_16  30.539154   29.797595    1.727440   86.995856
48  house_24   9.813867   34.120587   84.353549   86.683383
49  house_17   0.000223    6.501057    0.000236  270.275088