In [41]:
import json
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

sns.set_style("dark")

In [42]:
with open("5-seconds-results.json") as json_data:
    data = json.load(json_data)
    json_data.close()

In [43]:
data[1].keys()

dict_keys(['Algorithm', 'Map Names', 'Success Rate', 'Path Length', 'Initial Calculation Time', 'Traversal Time', 'CPU Usage', 'Memory Used', 'Replan Time'])

In [44]:
mb_srrt = data[0]["Path Length"]
edge = data[1]["Path Length"]
informed = data[2]["Path Length"]

In [45]:
import pandas as pd

combined_df = pd.DataFrame({
    "srrt": mb_srrt,
    "edge": edge,
    #"informed": informed
})

In [46]:
filtered_df = combined_df.dropna()
filtered_df

           srrt         edge
0   1613.979358   943.167630
4    942.610950  1064.467423
8   1134.939910  1579.382485
9   1971.293885  1758.817485
10  1333.344952  1356.755489
13   724.770285   762.712157
19   870.805425  1065.290623
20   224.902201   234.094314
22   389.966665   610.996833
23   165.529454   192.760067
24  1224.050449  1354.397723
26   370.109287   395.935615
28  1395.113319  1335.250321
35   631.741144   653.328193
45   654.486078   733.400488

In [47]:
mean_srrt = filtered_df["srrt"].mean()
mean_edge = filtered_df["edge"].mean()

In [48]:
mean_srrt

909.8428908838072

In [ ]:
median_srrt = filtered_df["srrt"].median()
median_edge = filtered_df["edge"].median()

In [49]:
mean_edge

936.0504563831852