In [1]:
import json
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

sns.set_style("dark")

In [19]:
with open("3D-5-seconds.json") as json_data:
    five_seconds = json.load(json_data)
    json_data.close()

In [20]:
five_seconds[0].keys()

dict_keys(['Algorithm', 'Map Names', 'Results', 'Success Rate'])

In [21]:
def report(algo_data):
    output = ""
    output += f"Name: {algo_data['Algorithm']}\n"
    output += f"Success Rate: {algo_data['Success Rate']}"
    
    return output

In [26]:
summary = report(five_seconds[2])
print(summary)

Name: SRRT-Edge: 5
Success Rate: 0.9228571428571428

In [41]:
df_list = []

for entry in five_seconds:
    algorithm_name = entry["Algorithm"]
    map_names = entry["Map Names"]
    results = entry["Results"]

    df = pd.DataFrame(results)
    
    df["map_name"] = map_names
    
    df.set_index("map_name", inplace=True)

    df.columns = [f"{algorithm_name}_{col}" for col in df.columns]
    
    df_list.append(df)

final_df = pd.concat(df_list, axis=1)

final_df

,path,path_len,energy,compute_time,traversal_time,cpu_usage,memory_used,replan_time,algorithm_name
0,None,None,None,5.301677,None,"[100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100...",1195723,[],D* Lite: 5
1,None,None,None,5.226784,None,"[100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100...",1030947,[],D* Lite: 5
2,None,None,None,10.206960,None,"[100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100...",618215,[],D* Lite: 5
3,None,None,None,5.022228,None,"[100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100...",963379,[],D* Lite: 5
4,None,None,None,9.619725,None,"[100.0, 76.9, 32.1, 100.0, 100.0, 100.0, 100.0...",614911,[],D* Lite: 5
...,...,...,...,...,...,...,...,...,...
1745,"[[12, 5, 14], [12.789370042807487, 8.740716665...",14.501264,23090.599732,5.082019,0.015767,"[100.0, 64.0, 100.0, 100.0, 100.0, 100.0, 100....",486022,[],Informed RRT*: 5
1746,"[[97, 12, 37], [91.33319971711396, 12.72070176...",79.382547,99905.899264,5.129158,0.056492,"[100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100...",332966,[],Informed RRT*: 5
1747,"[[78, 51, 34], [72.9498752445854, 51.976047597...",104.856053,140571.308816,5.017043,0.037693,"[100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100...",333214,[],Informed RRT*: 5
1748,None,NaN,NaN,5.005036,NaN,"[100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100...",319271,[],Informed RRT*: 5
1749,None,NaN,NaN,5.002078,NaN,"[37.8, 39.5, 21.1, 43.4, 50.0, 51.0, 50.0, 47....",373965,[],Informed RRT*: 5

#

# SRRT-Edge

In [40]:
srrt_edge = five_seconds[2]["Results"][346]
srrt_edge

{'path': [[97, 12, 37],
  [93.24032645393649, 16.49533568785379, 36.931001090459944],
  [88.27843519422294, 19.8410415899774, 36.49985477739039],
  [83.31654393450938, 23.186747492101013, 36.068708464320835],
  [78.35465267479583, 26.532453394224625, 35.63756215125128],
  [73.39276141508228, 29.878159296348237, 35.20641583818173],
  [68.43087015536872, 33.22386519847185, 34.77526952511218],
  [63.46897889565517, 36.56957110059546, 34.344123212042625],
  [58.507087635941616, 39.91527700271907, 33.91297689897308],
  [53.54519637622806, 43.260982904842685, 33.48183058590352],
  [48.5833051165145, 46.60668880696629, 33.050684272833976],
  [48.0, 47.0, 33.0]],
 'path_len': 59.8607123260726,
 'energy': 35981.21111356338,
 'compute_time': 5.0161426067352295,
 'traversal_time': 0.017730712890625,
 'cpu_usage': [100.0,
  100.0,
  100.0,
  100.0,
  100.0,
  100.0,
  75.0,
  52.4,
  100.0,
  85.7,
  100.0,
  100.0,
  100.0,
  100.0,
  100.0,
  100.0,
  100.0,
  100.0,
  83.3,
  100.0,
  100.0,
  100.0,
  100.0,
  100.0,
  100.0,
  100.0,
  66.7,
  100.0,
  100.0,
  100.0,
  100.0,
  100.0,
  100.0,
  100.0,
  100.0,
  100.0,
  100.0,
  100.0,
  100.0,
  87.5,
  100.0,
  35.7],
 'memory_used': 605477,
 'replan_time': []}

### Where did it fail?